// Breakpoints
$media-xxl: 1399.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 480.98px;
// Colors
$color-primary-alpha: #a1ba45;
$color-primary-beta: #fff;
$color-primary-gamma: #282728;
$color-primary-psi: #9d9d9d;
$color-primary-omega: #f4f4f4;

$color-secondary-alpha: #e1e1e1;
// Fonts
$font-primary: 'TTNorms', sans-serif;
//Indents
$padding-bottom-section: 10rem;
