// Breakpoints
$media-xxl: 1599.98px;
$media-xl: 1199.98px;
$media-lg: 991.98px;
$media-md: 767.98px;
$media-sm: 575.98px;
$media-xs: 479.98px;
// Colors
$color-primary-alpha: #a1ba45;
$color-primary-beta: #fff;
$color-primary-gamma: #282728;
$color-primary-psi: #6d6d6d;
$color-primary-omega: #f4f4f4;

$color-secondary-alpha: #e1e1e1;
$color-secondary-beta: #9d9d9d;
$color-secondary-gamma: #fbfbfb;
$color-secondary-psi: #e6e6e6;
$color-secondary-omega: #000;

$color-form-error: #f76863;
$color-form-success: #a1ba45;
// Fonts
$font-primary: 'TTNorms', sans-serif;
//Indents
$padding-bottom-section: 10rem;
