footer.footer
  .footer__top
    .container
      .footer__top-inner
        .footer__item
          +logo('logo-black', true)
        .footer__item
          nav.footer__menu
            ul
              li
                a(href="index.html") Главная
              li
                a(href="catalog.html") Дома из клееного бруса
              li
                a(href="services-design.html") Архитектурное проектирование
              li
                a(href="catalog.html") Каталог проектов
              li
                a(href="projects.html") Портфолио
              li
                a(href="sale.html") Продаём
              li
                a(href="about.html") О компании
        .footer__item
          +contactsInfo
        .footer__item
          .footer__buttons
            a.footer__button(href="contacts.html") Все контакты
            button.footer__button(data-modal-target="#form-callme") Заказать обратный звонок
          .footer__social
            p Мы в социальных сетях
            +social
  .footer__bot
    .container
      .footer__bot-inner
        .footer__item
          p
            |Все права защищены. 2021
            span ИП Гусарев А.А
        .footer__item
          p.footer__disclaimer Вся информация, размещённая на сайте, носит ознакомительный характер и может отличаться от действительности.
        .footer__item
          button.footer__button Политика конфиденциальности
          p.footer__createby Разработано в студии aiva.by
