mixin header(modif='header--dark')
  header.header(class= modif)
    .container
      .header__top
        +logo('logo')
        .header__info
          .header__social
            p.header__social-txt Мы в соц.сетях:
            +social
          button.header__call(data-modal-target="#form-callme")
            +icon('header__call-icon', 'phone')
            |Позвоните мне
          .header__group
            +worktime
            ul.header__phones
              li
                a(href="tel:80333333333") 8 (033) 333 33 33
                ul
                  li: a(href="tel:80297777777") 8 (029) 777 77 77
                  li: a(href="tel:80333333333") 8 (033) 333 33 33
      nav.header__menu
        ul
          li: a(href="index.html") Главная
          li: a(href="catalog.html") Каталог проектов
          li: a(href="projects.html") Портфолио
          li
            a(role="button") Услуги
            ul
              li: a(href="services-design.html") Архитектурное проектирование
              li: a(href="services-produce.html") Производство материалов
          li: a(href="sale.html") Продаём
          li: a(href="about.html") О компании
          li: a(href="news.html") Новости
          li: a(href="contacts.html") Контакты
