doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(name="description" content="")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")

      link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
      script(src="https://unpkg.com/swiper/swiper-bundle.min.js")

      link(rel="stylesheet" href="css/style.min.css")
      block title
        title Gusarev House
  body
    include ../includes/common/mixins
    block header
      include header
    .page
      block content
      block footer
        include footer
    block scripts
      script(src='scripts/main.min.js')
