doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      meta(name="description" content="Gusarev House - строительство в Минской области")

      link(rel="apple-touch-icon" sizes="180x180" href="favicon/pple-touch-icon.png")
      link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
      link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
      link(rel="manifest" href="favicon/site.webmanifest")
      link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
      meta(name="msapplication-TileColor" content="#da532c")
      meta(name="theme-color" content="#ffffff")

      link(rel="preload" href="fonts/TTNorms-300.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="fonts/TTNorms-400.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="fonts/TTNorms-500.woff2" as="font" crossorigin="anonymous")
      link(rel="preload" href="fonts/TTNorms-700.woff2" as="font" crossorigin="anonymous")

      link(rel="stylesheet" href="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.css")
      script(src="https://unpkg.com/swiper@6.8.4/swiper-bundle.min.js")

      link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css")

      link(rel="stylesheet" href="css/style.min.css")

      block title
        title Gusarev House - Строительная компания
  body
    include ../includes/common/mixins
    include header
    block header
      +header
    block content
    block footer
      include footer
    +modal
    #overlay.overlay
    block scripts
      script(src='scripts/main.min.js')
