mixin icon(className, name)
  svg(class= className): use(xlink:href="images/sprite.svg#" + name)

mixin social
  ul.social
    li.social__item
      a(href="#" aria-label="vk" target="_blank"): +icon('social__icon', 'vk')
    li.social__item
      a(href="#" aria-label="instagram" target="_blank")
        .social__icon-wrapper
          +icon('social__icon social__icon--insta', 'instagram')
    li.social__item
      a(href="#" aria-label="youtube" target="_blank"): +icon('social__icon', 'youtube')

mixin linkButton(link, txt)
  a.link-button(href="#")
    .link-button__inner= txt
      +icon('link-button__icon', 'arrow-right')

mixin mediaButton
  button.media-button(aria-label="Воспроизвести видео")
    +icon('media-button__icon', 'play')

mixin introSlide
  .swiper-slide(style="background-image:url('images/index/intro/slide-1.jpg')")
    .container
      .intro__inner
        .intro__content
          h2.intro__title Строительство домов под ключ в Минской области и Минском районе
          h3.intro__subtitle
            span Строим надёжные дома
            |из клееного бруса и массива сроком эксплуатации до 100 лет
          p.intro__descrip По индивидуальному или готовому проекту
          ul.intro__features
            li Качественно
            li Долговечно
            li Доступно
          +linkButton('#', 'В каталог проектов')
        .intro__media
          +mediaButton
          p.intro__media-txt
            |Посмотреть
            span видео-презентацию
            |компании
