.button {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;

  text-transform: uppercase;
  color: $color-primary-psi;
  font-weight: 500;

  padding: 2.5rem 3rem;

  &::before {
    position: absolute;

    z-index: 0;

    left: 0;

    content: '';

    height: 100%;
    width: 40%;

    border: 1px solid;
    border-radius: 5px;

    transition: width 0.15s linear, background-color 0.15s linear;
  }

  &:hover {
    color: $color-primary-beta;

    &::before {
      width: 100%;

      background-color: $color-primary-alpha;

      border-color: $color-primary-alpha;
    }

    .button__icon {
      transform: translateX(4px);
      fill: $color-primary-beta;
    }
  }

  &__inner {
    position: relative;

    display: flex;
    align-items: center;

    z-index: 1;
  }

  &__icon {
    width: 20px;
    height: 20px;

    margin-left: 15px;

    fill: $color-primary-psi;

    transition: transform 0.15s linear;
  }

  &--light {
    color: $color-primary-beta;

    .button__icon {
      fill: $color-primary-beta;
    }

    &::before {
      border-color: $color-primary-beta;
    }
  }

  &--center {
    margin: 0 auto;
  }

  &--reverse {
    .button__inner {
      flex-direction: row-reverse;
    }

    .button__icon {
      margin-left: 0;
      margin-right: 15px;

      transform: scale(-1, 1);
    }

    &.button::before {
      left: unset;
      right: 0;
    }

    &.button:hover {
      .button__icon {
        transform: translateX(-4px) scale(-1, 1);
      }
    }
  }
}
