.fee {
  padding-bottom: $padding-bottom-section;

  @include media-tablet-lg {
    padding-bottom: 50px;
  }
}

.fee__list {
  display: flex;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.fee__item {
  position: relative;

  overflow: hidden;

  width: 50%;

  padding: 22.3rem 0 6.9rem 10rem;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 0px 10px 10px 0px;

  &:nth-child(2n) {
    border-radius: 10px 0px 0px 10px;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  &::after {
    position: absolute;

    content: '';

    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background: linear-gradient(
      180deg,
      rgba(39, 40, 39, 0) 35.42%,
      #111111 100%
    );
  }

  @include media-desktop {
    padding: 22.3rem 0 6.9rem 5rem;
  }

  @include media-laptop {
    padding-right: 3rem;
  }

  @include media-tablet-lg {
    width: 97%;

    padding: 20.8rem 0 4rem 5rem;

    &:not(:last-child) {
      margin-bottom: 20px;
      margin-right: 0;
    }

    &:nth-child(odd) {
      margin-right: 3%;
    }

    &:nth-child(even) {
      margin-left: 3%;
    }
  }

  @include media-smartphone-sm {
    padding: 100px 0 20px 20px;
  }
}

.fee__content {
  position: relative;

  display: flex;
  align-items: center;

  z-index: 1;

  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.fee__title {
  max-width: 30.6rem;

  margin-right: 7.3rem;

  font-weight: 300;
  font-size: 3rem;

  span {
    display: block;

    font-weight: 700;
  }

  @include media-laptop {
    margin-bottom: 24px;
    margin-right: 0;

    max-width: unset;

    span {
      display: inline-flex;
    }
  }

  @include media-tablet-lg {
    font-size: 24px;

    span {
      display: inline-block;
    }
  }
}
