.form {
  position: relative;

  background-color: $color-primary-gamma;

  textarea {
    height: 12rem;
  }

  @include loading;
}

.form-content {
  .container {
    position: relative;
  }
}

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include media-smartphone-lg {
    flex-direction: column;
  }
}

.form__txt {
  margin-bottom: 4.5rem;

  font-size: 2rem;

  @include media-smartphone-lg {
    text-align: center;
  }
}

.form__control {
  position: relative;

  margin-bottom: 35px;

  &--wide {
    flex: 1;
  }

  &:last-of-type {
    margin-bottom: 20px;
  }

  @include media-smartphone-lg {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}

.form__control.error {
  .form__error {
    visibility: visible;
  }

  .form__input {
    border-color: $color-form-error;
  }
}

.form__control.success {
  .form__input {
    border-color: $color-form-success;
  }
}

.form__error {
  position: absolute;
  top: -17px;
  left: 0;

  font-size: 14px;

  color: $color-form-error;

  visibility: hidden;
}

.form__input {
  padding: 5px 2px 15px;

  width: 100%;

  border-bottom: 1px solid $color-primary-beta;
}

.form__button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;

  text-transform: uppercase;
  color: $color-primary-beta;
  font-weight: 500;

  padding: 2.5rem 3rem;

  background-color: $color-primary-alpha;
  border-radius: 5px;

  transition: background-color 0.1s linear;

  &:hover {
    background-color: darken($color-primary-alpha, 5);
  }

  &-icon {
    width: 18px;
    height: 18px;

    margin-left: 10px;

    fill: $color-primary-beta;

    transition: transform 0.15s linear;
  }
}

.form__checkbox-wrapper {
  position: relative;

  display: flex;
  align-items: center;

  padding-top: 5px;

  cursor: pointer;
}

.form__checkbox {
  position: absolute;
  opacity: 0;
}

.form__checkbox-styled {
  position: relative;

  display: inline-block;

  margin-right: 15px;

  min-width: 24px;
  min-height: 24px;

  transition: opacity 0.1s linear;

  border: 1px solid $color-primary-omega;
  border-radius: 3px;

  &::before {
    position: absolute;

    display: block;

    content: '';

    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;

    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: $color-primary-alpha;
    border-radius: 2px;
  }
}

.form__checkbox:checked + .form__checkbox-styled::before {
  opacity: 1;
}

.form__checkbox:not(:checked) + .form__checkbox-styled {
  border-color: $color-secondary-beta;
}

.form__checkbox:not(:checked) ~ .form__checkbox-txt {
  color: $color-secondary-beta;
}

.form__checkbox-txt {
  user-select: none;

  font-size: 14px;
  line-height: 1.4;

  color: $color-primary-beta;
}

.form-callback {
  padding-bottom: 12rem;

  @include media-tablet-lg {
    padding-bottom: 60px;
  }

  &__feature {
    font-size: 2rem;
    color: $color-primary-psi;

    margin-bottom: 1rem;

    max-width: 58rem;
  }

  &__img {
    position: absolute;

    z-index: -1;

    bottom: -100px;
    right: -255px;

    @include media-laptop {
      bottom: unset;
      top: -330px;
    }

    @include media-smartphone-lg {
      right: -50px;

      top: -155px;
    }

    &-arrow {
      @include media-smartphone-lg {
        max-width: 400px;
      }
    }

    &-phone {
      position: absolute;

      left: 15%;
      bottom: -50px;

      @include media-desktop {
        max-width: 70rem;

        left: 27%;
      }

      @include media-laptop {
        top: -80px;
        left: 0;

        max-width: 441px;
      }

      @include media-smartphone-lg {
        top: -260px;
        left: -35px;
      }
    }
  }

  &__titles {
    display: flex;
    flex-direction: column;

    margin-bottom: 4.2rem;

    &.reversed {
      flex-direction: column-reverse;

      .form-callback__title {
        margin-bottom: 2.6rem;
      }

      .form-callback__feature {
        margin-bottom: 0;
      }
    }

    @include media-laptop {
      margin-bottom: 331px;
    }
  }

  &__title {
    font-weight: 300;
    font-size: 3.6rem;
    color: $color-primary-gamma;

    max-width: 66.6rem;

    span {
      display: block;
      font-weight: 700;

      &.inline {
        display: inline;
      }
    }

    @include media-tablet-lg {
      font-size: 24px;
    }
  }

  .form__button {
    max-width: 26rem;

    @include media-smartphone-lg {
      max-width: unset;
    }
  }

  .form {
    position: relative;

    z-index: 1;

    max-width: 96rem;

    background-color: $color-primary-gamma;
    border-radius: 0px 10px 10px 0px;

    &::before {
      position: absolute;

      content: '';

      top: 0;
      right: 100%;

      height: 100%;
      width: 100vh;

      background-color: $color-primary-gamma;
    }

    padding: 5.5rem 12rem 5.5rem 0;

    @include media-laptop {
      padding: 45px 30px 30px;

      border-radius: 10px;

      &::before {
        display: none;
      }
    }

    &__group {
      @include media-smartphone-lg {
        flex-direction: column;
      }
    }
  }

  .form__control {
    width: 33%;

    &:not(:last-child) {
      margin-right: 3rem;
    }

    @include media-smartphone-lg {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.form-callback-mini {
  .form {
    padding: 5rem;

    border-radius: 10px;

    @include media-smartphone-sm {
      padding: 3rem;
    }
  }

  .form__inner {
    &.flex {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include media-smartphone-lg {
        flex-direction: column;
        align-items: unset;
      }
    }
  }

  .form__group {
    @include media-laptop {
      flex-direction: column;
    }

    @include media-tablet-lg {
      flex: 1;
    }

    &.column {
      flex-direction: column;

      align-items: unset;

      .form__control {
        margin-right: 0;
        width: 100%;
      }
    }
  }

  .form__control {
    &:not(:last-child) {
      margin-right: 3rem;
    }

    @include media-laptop {
      width: 100%;
    }
  }

  .form__button {
    min-width: 26rem;
    width: unset;

    @include media-laptop {
      width: 100%;
    }

    @include media-smartphone-lg {
      width: 100%;
    }
  }

  &__type {
    margin-right: 3rem;

    @include media-smartphone-lg {
      margin-bottom: 20px;
    }

    &-title {
      font-size: 1.8rem;

      margin-bottom: 1.5rem;
    }

    .form__control {
      margin-bottom: 10px;
    }

    .form__checkbox {
      &-txt {
        font-size: 16px;
      }
    }
  }

  &__title {
    font-size: 2rem;
    font-weight: 300;
    text-align: center;

    margin-bottom: 2rem;
  }

  &__subtitle {
    font-size: 2.6rem;
    font-weight: 300;
    text-align: center;

    margin-bottom: 3rem;

    span {
      font-weight: 700;
    }
  }
}

.form-modal {
  position: relative;

  display: flex;

  min-width: 760px;

  @include media-tablet-sm {
    flex-direction: column-reverse;

    min-width: 450px;
  }

  @include media-smartphone-sm {
    min-width: unset;
    max-width: 310px;
  }

  .form {
    padding: 0 25px;
  }

  .form__inner {
    padding-bottom: 3rem;

    width: 100%;
    padding-right: 50px;

    @include media-tablet-sm {
      max-width: unset;

      padding: 0;
    }
  }

  &__img {
    max-width: 280px;
    object-fit: cover;
    margin-right: 3rem;
  }

  &__title {
    font-size: 3.6rem;
    text-align: center;

    margin-bottom: 2rem;

    margin-right: 6.7rem;

    span {
      display: block;

      font-weight: 700;
    }

    @include media-tablet-sm {
      text-align: center;
      margin-right: 0;

      font-size: 24px;
    }
  }

  .form__button {
    margin-bottom: 25px;
  }
}
