.intro {
  position: relative;

  background-color: $color-primary-gamma;

  margin-bottom: $padding-bottom-section;

  @include media-tablet-lg {
    margin-bottom: 50px;
  }

  .swiper-slide {
    overflow: hidden;
  }

  .swiper-button-next {
    position: static;
    margin-top: 0;

    width: unset;

    text-transform: uppercase;
    color: $color-primary-beta;
    font-size: 2.6rem;
    letter-spacing: 0.125em;
    font-weight: 30;

    @include hover;

    &::after {
      content: '';
    }

    @include media-smartphone-sm {
      font-size: 16px;
    }
  }

  .swiper-pagination {
    position: static;

    z-index: 2;

    &-bullet {
      position: relative;

      width: 1rem;
      height: 1rem;

      opacity: 1;

      &:not(:last-child) {
        margin-right: 3rem;
      }

      &::after {
        position: absolute;

        display: none;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        content: '';

        border-radius: 50%;
        border: 1px solid;

        width: 3rem;
        height: 3rem;
      }

      &-active {
        &::after {
          display: block;
        }
      }
    }
  }
}

.intro__content {
  display: flex;
  flex-direction: column;

  margin-right: 4rem;

  @include media-tablet-lg {
    justify-content: center;
    align-items: center;

    margin-right: 0;
    padding-bottom: 10rem;

    text-align: center;
  }
}

.intro__bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  animation: zoom 40s infinite;

  &::after {
    position: absolute;

    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    content: '';

    background-color: $color-primary-gamma;
    opacity: 0.65;
  }
}

.intro__controllers {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  z-index: 2;

  bottom: 0;
  right: 0;
  max-width: 73.5rem;

  width: 100%;

  padding: 4.1rem 3.3rem;

  border-radius: 10px 0 0 0;
  background: rgba(39, 40, 39, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);

  @include media-custom-mf(1200px) {
    backdrop-filter: blur(4px);
  }

  @include media-tablet-lg {
    max-width: 410px;

    padding: 46px 20px;

    right: 50%;

    border-radius: 10px 10px 0 0;

    transform: translateX(50%);
  }

  @include media-smartphone-sm {
    max-width: 310px;
  }
}

.intro__inner {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 22.5rem 0 12.6rem;

  @include media-tablet-lg {
    justify-content: center;
  }
}

.intro__slide-img {
  width: 100%;
  height: 100%;
}

.intro__title {
  font-size: 2.2rem;

  margin-bottom: 16px;
}

.intro__subtitle {
  font-size: 5.8rem;
  font-weight: 300;

  max-width: 75.2rem;

  margin-bottom: 3.3rem;

  &--wide {
    max-width: 86rem;
  }

  span {
    font-weight: 700;

    display: block;
  }

  @include media-tablet-lg {
    font-size: 36px;
  }

  @include media-smartphone-sm {
    font-size: 25px;
  }
}

.intro__descrip {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 3rem;

  margin-bottom: 4.9rem;
  margin-left: 90px;

  &::before {
    position: absolute;

    content: '';

    right: 100%;

    display: inline-block;

    width: 60px;
    height: 1px;

    margin-right: 3rem;

    background-color: $color-primary-alpha;
  }

  @include media-tablet-lg {
    margin: 0 auto 3.2rem;

    font-size: 18px;

    &::before {
      width: 30px;

      margin-right: 17px;
    }
  }

  @include media-smartphone-sm {
    &::before {
      display: none;
    }
  }
}

.intro__features {
  display: flex;
  align-items: baseline;

  margin-bottom: 8.1rem;

  @include media-tablet-lg {
    margin-bottom: 4.8rem;
  }

  @include media-smartphone-lg {
    flex-direction: column;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;

    font-size: 1.8rem;
    text-transform: uppercase;

    &::before {
      content: '';
      display: inline-block;

      width: 16px;
      height: 16px;

      margin-right: 3rem;

      border-radius: 2px;
      background-color: $color-primary-alpha;
    }

    &:not(:last-child) {
      margin-right: 7rem;
    }

    @include media-tablet-lg {
      &:not(:last-child) {
        margin-right: 4rem;
        margin-bottom: 17px;
      }
    }

    @include media-smartphone-lg {
      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.intro__media {
  display: flex;
  align-items: center;

  padding-right: 6.5rem;
  padding-bottom: 12rem;

  font-size: 1.8rem;

  span {
    display: block;
    font-weight: 700;
  }

  &-txt {
    font-size: 1.8rem;

    margin-left: 3rem;
  }

  @include media-tablet-lg {
    display: none;
  }
}

.intro__decorator {
  position: absolute;

  z-index: 1;

  bottom: 0;
  right: 0;
}

.intro__slides {
  display: flex;
  align-items: center;

  &-current {
    font-weight: 700;
    font-size: 4.8rem;

    @include media-smartphone-sm {
      font-size: 30px;
    }
  }

  &-decorator {
    font-size: 2.4rem;

    margin: 0 15px;

    @include media-smartphone-sm {
      font-size: 18px;

      margin: 0 8px;
    }
  }

  &-total {
    font-size: 2rem;

    margin-top: 0.8rem;
  }
}

@keyframes zoom {
  50% {
    transform: scale(1.2);
  }
}
