.logo {
  display: flex;
  align-items: center;

  &__icon {
    max-width: 18rem;
    max-height: 5.9rem;

    margin-right: 3rem;
  }

  &__title {
    font-size: 14px;
    color: $color-primary-beta;

    max-width: 28.6rem;

    margin-top: 6px;
  }

  @include media-laptop {
    body.touch &__title {
      max-width: 25rem;
    }
  }

  @include media-tablet-lg {
    &__icon {
      margin-right: 0;
    }

    &__title {
      position: absolute;
      overflow: hidden;
      clip: rect(1px, 1px, 1px, 1px);
      width: 1px;
      height: 1px;
      padding: 0;
      border: 0;
      -webkit-clip-path: inset(0 0 99.9% 99.9%);
      clip-path: inset(0 0 99.9% 99.9%);
    }
  }
}
