.media-button {
  border-radius: 50%;
  overflow: hidden;

  min-width: 12rem;
  min-height: 12rem;
  max-width: 12rem;
  max-height: 12rem;

  &__icon {
    width: 12rem;
    height: 12rem;

    fill: $color-primary-beta;

    transition: fill 0.1s linear;

    &:hover {
      fill: $color-primary-alpha;
    }
  }
}
