.modal {
  position: fixed;

  z-index: 10;

  top: 50%;
  left: 50%;

  max-width: 760px;

  transform: translate(-50%, -50%);

  opacity: 0;

  pointer-events: none;

  transition: opacity 0.1s ease-in;

  overflow: hidden;
  visibility: hidden;

  border-radius: 10px;
  background-color: $color-primary-gamma;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;

  &.active {
    pointer-events: all;

    opacity: 1;
    visibility: visible;
  }

  &__content {
    position: relative;

    @include loading;
  }

  &__top {
    position: relative;

    min-height: 60px;
  }

  &__button-close {
    position: absolute;
    top: 41%;
    right: 25px;

    &-icon {
      height: 16px;
      width: 16px;

      fill: $color-primary-beta;

      transition: fill 0.1s linear;

      &:hover {
        fill: $color-primary-alpha;
      }
    }
  }
}
