.product {
  margin-bottom: 6rem;

  .swiper-container {
    max-width: 69rem;

    margin: 0;
    margin-right: 3rem;

    @include media-tablet-lg {
      margin-right: 0;

      max-width: unset;

      margin-bottom: 35px;
    }
  }

  .swiper-wrapper {
    margin-bottom: 60px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    color: $color-primary-beta;

    &:hover {
      color: $color-primary-alpha;
    }
  }

  .swiper-button-prev {
    padding-left: 3rem;
  }

  .swiper-button-next {
    padding-right: 3rem;
  }

  @include swiper-pagination;
}

.product__inner {
  display: flex;
  justify-content: space-between;

  @include media-tablet-lg {
    flex-direction: column;
  }
}

.product__slide {
  max-width: 69rem;
  object-fit: cover;
  width: 100%;

  max-height: 55.9rem;
  min-height: 55.9rem;

  border-radius: 10px;

  @include media-tablet-lg {
    max-width: unset;
  }
}

.product__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 0.9rem;

  &-icon {
    width: 30px;
    height: 30px;

    margin-right: 2rem;

    fill: none;
  }

  &-item {
    display: flex;

    width: 49%;

    margin-bottom: 3rem;

    @include media-smartphone-sm {
      width: 100%;
    }

    &-title,
    &-txt {
      font-size: 2rem;
      color: $color-primary-gamma;
      font-weight: 300;
    }

    &-title {
      margin-bottom: 10px;
    }

    &-txt {
      font-weight: 500;
    }
  }
}

.product-title {
  font-weight: 700;
  font-size: 3.6rem;
  color: $color-primary-gamma;

  margin-right: 3rem;

  @include media-laptop {
    margin-bottom: 3rem;
  }
}

.product-name {
  font-size: 4rem;
  font-weight: 300;
  color: $color-primary-gamma;

  margin-bottom: 5rem;
}

.product-about {
  padding-bottom: 7rem;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 5.1rem 9rem;
    margin-bottom: 5rem;

    background-color: $color-primary-omega;
    border-radius: 10px;

    @include media-laptop {
      flex-direction: column;
      align-items: flex-start;
    }

    @include media-tablet-sm {
      padding: 5.1rem 4rem;
    }
  }

  &__txt {
    max-width: 87rem;

    @include media-laptop {
      max-width: unset;
    }

    p {
      color: $color-primary-gamma;
      font-size: 2rem;
    }
  }

  .button {
    margin: 0 auto;
  }
}

.product-plan {
  padding-bottom: 8rem;

  @include media-tablet-lg {
    padding-bottom: 4rem;
  }

  .product-title {
    margin-bottom: 4rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 49%;

      margin-bottom: 3rem;

      overflow: hidden;

      border: 1px solid $color-primary-omega;
      border-radius: 10px;

      cursor: pointer;

      @include media-tablet-lg {
        width: 100%;
      }
    }

    &-img {
      max-width: 69rem;
      object-fit: cover;

      @include media-smartphone-lg {
        max-width: 50rem;
      }

      @include media-smartphone-sm {
        max-width: 40rem;
      }
    }
  }
}
