.social {
  display: flex;

  &__item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      filter: brightness(90%);
    }
  }

  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 4rem;
    height: 4rem;

    background: url('../images/common/insta-bg.png');

    border-radius: 50%;
  }

  &__icon {
    height: 4rem;
    width: 4rem;

    &--insta {
      width: 2rem;
      height: 2rem;
    }
  }
}
