.youtube {
  padding-bottom: $padding-bottom-section;

  @include media-desktop {
    padding-bottom: ($padding-bottom-section + 5rem);
  }
}

.youtube__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @include media-laptop {
    flex-direction: column;
  }
}

.youtube__info {
  margin-right: 4rem;

  @include media-laptop {
    margin-bottom: 6rem;
    margin-right: 0;
  }

  @include media-tablet-lg {
    margin-bottom: 3rem;
  }
}

.youtube__suptitle {
  font-size: 2rem;
  color: $color-primary-psi;

  margin-bottom: 2.6rem;
}

.youtube__title {
  font-weight: 300;
  font-size: 3.6rem;
  color: $color-primary-gamma;

  margin-bottom: 4.2rem;

  max-width: 60rem;

  span {
    display: block;
    font-weight: 700;
  }

  @include media-laptop {
    max-width: unset;
  }

  @include media-tablet-lg {
    margin-bottom: 2rem;
  }
}

.youtube__link {
  display: flex;
  align-items: center;

  color: $color-primary-gamma;
  font-weight: 500;

  &:hover {
    p {
      color: $color-primary-alpha;
      border-color: $color-primary-alpha;
    }

    .youtube__link-icon {
      fill: $color-primary-alpha;

      transform: translateX(5px);
    }
  }

  p {
    border-bottom: 1px solid;

    line-height: 1.5;

    margin-right: 13px;

    transition: color 0.1s linear;
  }

  &-icon {
    height: 18px;
    width: 18px;

    fill: $color-primary-gamma;

    transition: transform 0.1s linear, fill 0.1s linear;
  }
}

.youtube__videos {
  display: flex;
  justify-content: space-between;

  @include media-laptop {
    width: 100%;
  }

  @include media-tablet-sm {
    flex-wrap: wrap;
  }

  .media-button {
    position: relative;

    z-index: 1;

    width: 10rem;
    height: 10rem;
  }
}

.youtube__item {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 10rem 16.5rem;

  border-radius: 10px;

  overflow: hidden;

  &::after {
    position: absolute;

    content: '';

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: $color-primary-gamma;
    opacity: 0.4;
  }

  &:not(:last-child) {
    margin-right: 3rem;
  }

  @include media-desktop {
    padding: 8rem 14.5rem;
  }

  @include media-laptop {
    width: 49%;
  }

  @include media-tablet-sm {
    width: 100%;

    &:not(:last-child) {
      margin-right: 0;

      margin-bottom: 2.5rem;
    }
  }
}
