.bar-features {
  padding-bottom: 7rem;
}

.bar-features__inner {
  display: flex;
  justify-content: space-between;

  @include media-desktop {
    flex-direction: column;
    align-items: flex-start;
  }
}

.bar-features__title {
  @include section-title;

  max-width: 48.9rem;

  span {
    display: block;

    @include media-desktop {
      display: inline-flex;
    }

    @include media-smartphone-lg {
      display: block;
    }
  }

  @include media-desktop {
    max-width: unset;
  }

  .container {
    margin: 0;
  }
}

.bar-features__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-self: flex-end;

  padding: 6.2rem 6.2rem 3.6rem 9rem;

  max-width: 94.5rem;
  width: 100%;

  background-color: $color-primary-gamma;
  border-radius: 10px 0px 0px 10px;

  @include media-desktop {
    padding: 6.2rem 6.2rem 3.6rem;

    max-width: unset;
    width: 98%;
  }

  @include media-smartphone-sm {
    padding: 40px;
  }
}

.bar-features__item {
  width: 22%;

  margin-bottom: 2.6rem;

  @include media-tablet-lg {
    width: 48%;
  }

  @include media-smartphone-lg {
    width: 100%;
  }

  &-txt {
    font-size: 16px;

    span {
      font-weight: 700;
    }
  }

  &-icon {
    width: 17px;
    height: 38px;
  }
}
