extends common/layout

block title
  title Каталог проектов

block content
  .page
    main
      //Crumbs
      +crumbs([{href: 'catalog.html', name: 'Каталог проектов'}])

      //Catalog
      section.catalog.catalog--page
        .container
          .title-block
            h2.title-block__title
              |Каталог&nbsp;
              span популярных готовых решений деревянных домов&nbsp;
              |из клееного бруса
            .title-block__txt
              p Помимо уже существующих проектов архитекторы компании могут спроектировать дом именно под Вас.
              p Представленные варианты внутренних планировок условны. При желании совместно с нашими архитекторами Вы можете разработать собственное планировочное решение.
          .catalog__wrapper
            +formCatalog(false)
            .catalog__content
              nav.filter
                ul#filter
                  li
                    button.filter__button до 100 м
                      sup 2
                  li
                    button.filter__button до 200 м
                      sup 2
                  li
                    button.filter__button до 300 м
                      sup 2
                  li
                    button.filter__button более 300 м
                      sup 2
                  li
                    button.filter__button Эскизы
              ul.catalog__list
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')
                +catalogItem('catalog-1', 'Слобода-1', 'catalog-product.html', '50 м')

      //Form callback
      +formCallback(['Не ограничиваемся ', 'каталогом'], 'Наши архитекторы спроектируют индивидуальный проект под вас с собственным планировочным решением.', 'Оставьте заявку на разработку проекта', {modifDisplay: 'inline', modifReverse: 'reversed'})

      //We build
      +sectionWebuild
