extends common/layout

include common/header

block header
  +header('absolute', false)

block content
  .page
    main
      //Intro
      section.intro
        #swiper-intro.swiper-container
          .swiper-wrapper
            +introSlide('slide-1', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'], 'intro__subtitle--wide')
            +introSlide('slide-2', 'Проектирование домов под ключ', ['Типовое и индивидуальное ', 'проектирование частных домов и коттеджей'], 'С полным сопровождением', ['Качественно', 'Долговечно', 'Доступно'])
          .intro__controllers
            p.intro__slides
              span#swiper-intro-current.intro__slides-current
              span.intro__slides-decorator /
              span#swiper-intro-total.intro__slides-total
            .swiper-pagination
            .swiper-button-next Вперёд

      //Company
      section.company
        .container
          .company__inner
            .company__images
              img.company__img.lozad(data-src="images/company/house-1.jpg" width="450" height="690" alt="")
              .company__years.lozad(data-background-image="images/company/texture-1.png")
                p.company__years-txt
                  span 25
                  |лет на рынке
              .company__img-decorator.lozad(data-background-image="images/company/texture-2.png")
            .company__content
              h3.company__suptitle Компания Gusarev House
              h2.company__title
                |С 1995 года&nbsp;
                span строим&nbsp;
                |теплые и долговечные деревянные дома
              p.company__descrip Новейшие технологии позволяют нам конкурировать с любыми мировыми производителями
              .company__txt
                p Gusarev House — ведущая деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
              +linkButton('about.html', 'Подробнее о компании')

      //Fee
      section.fee
        ul.fee__list
          +feeItem('fee-1', ['Производство и строительство домов', 'из бруса под ключ'], '#')
          +feeItem('fee-2', ['Архитектурное проектирование', 'любого размера'], '#')

      //Catalog
      +sectionCatalog

      //Projects
      section.projects
        h2.projects__title
          |Посмотрите, какие&nbsp;
          span проекты мы реализовали
        ul.projects__list
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1 очень длfffffffffffffffffffffffffffffинный', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фааааааааааааааааааааахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
        +linkButton('projects.html', 'Смотреть все дома', 'button--center')

      //Instagram
      section.insta
        .container
          .insta__inner.lozad(data-background-image="images/index/insta/bg.jpg")
            .insta__info
              h2.insta__title Больше выполненых работ у нас в Инстаграмме
              a.insta__link(href="#") @gusarev_house
            ul.insta__list
              li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")
              li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")
              li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")

      //Produce
      section.produce
        h2.produce__title.container
          |Также производим и поставляем&nbsp;
          span древесные материалы
        ul.produce__list
          +produceItem('produce-1', 'Клееный брус очень длинныыыыыыыыыыыыыыыыыыыыыыыыыый', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность.' ], '#')
          +produceItem('produce-1', 'Клееный брус', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность.' ], '#')
          +produceItem('produce-2', 'Массив', ['Массивом дерева считается материал, который полностью состоит из натурального дерева. Изделия из цельного дерева считаются элитными, так как данный материал обладает высоким качеством и экологичностью.' ], '#')
          +produceItem('produce-1', 'Клееный брус', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность;' ], '#')

      //Features
      section.features.lozad(data-background-image="images/features/bg.jpg")
        .container
          .features__inner
            .features__top
              h2.features__title
                |Ключевым преимуществом наши клиенты считают&nbsp;
                span одно из лучших качеств продукции
              +mediaButton("https://www.youtube.com/embed/brdYpE6-8Vk")
            ul.features__list
              +companyFeature(['Собственное производство, ', 'высочайшее качество'], 'feature-1')
              +companyFeature(['Разнообразие готовых проектов ', 'или разработаем индивидуальный'], 'feature-2')
              +companyFeature(['Гибкая ценовая политика ', 'и чёткое соблюдение сроков'], 'feature-3')
              +companyFeature(['Полный контроль ', 'строительство дома'], 'feature-4')

      //Youtube
      +sectionYoutube

      //Form callback
      +formCallback(['Перезвоним и проконсультируем ', 'по любым вопросам, заполните форму'], 'Это бесплатно!', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00')

      //We build
      +sectionWebuild
