extends common/layout

include includes/index/mixins

block content
  .page.page--paddingless
    main
      section.intro
        #swiper-intro.swiper-container
          .swiper-wrapper
            +introSlide('slide-1.jpg', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
            +introSlide('slide-2.jpg', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
          .intro__controllers
            .swiper-pagination
            .swiper-button-next Вперёд
            img.intro__decorator(src="images/index/intro/arrows-group.png", alt="")
