extends common/layout

include includes/index/mixins

block content
  .page.page--paddingless
    main
      //Intro
      section.intro
        #swiper-intro.swiper-container
          .swiper-wrapper
            +introSlide('slide-1.jpg', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
            +introSlide('slide-1.jpg', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
          .intro__controllers
            p.intro__slides
              span#swiper-intro-current.intro__slides-current
              span.intro__slides-decorator /
              span#swiper-intro-total.intro__slides-total
            .swiper-pagination
            .swiper-button-next Вперёд
            img.intro__decorator(src="images/index/intro/arrows-group.png", width="733", height="340",  alt="")

      //Company
      section.company
        .container
          .company__inner
            .company__images
              img.company__img(src="images/index/company/house.jpg", width="450" height="690", alt="Дом из древесины")
              .company__years(style="background-image:url(images/index/company/texture-1.png);")
                p.company__years-txt
                  span 25
                  |лет на рынке
              .company__img-decorator(style="background-image:url(images/index/company/texture-2.png);")
            .company__content
              h2.company__title Компания Gusarev House
              h3.company__subtitle
                |С 1995 года&nbsp;
                span строим&nbsp;
                |теплые и долговечные деревянные дома
              p.company__descrip Новейшие технологии позволяют нам конкурировать с любыми мировыми производителями
              p.company__txt Gusarev House — ведущая деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
              +linkButton('#', 'Подробнее о компании')

      //Fee
      section.fee
        ul.fee__list
          +feeItem('fee-1.jpg', ['Производство и строительство домов', 'из бруса под ключ'], '#')
          +feeItem('fee-2.jpg', ['Архитектурное проектирование', 'любого размера'], '#')

      //Catalog
      section.catalog.container
        .catalog__form
          .catalog__form-descrip
            h2.catalog__form-title
              span Скачайте каталог проектов&nbsp;
              |в 1 клик
            img.catalog__form-img(src="images/index/catalog/mockup.png", width="270" height="217", alt="Каталог")
            h3.catalog__form-subtitle
              span Зарегистрируйтесь,&nbsp;
              |чтобы получить доступ к каталогу
          +formCatalog
          p.catalog__form-txt Помимо уже существующих проектов архитекторы компании могут спроектировать дом именно под Вас. Представленные варианты внутренних планировок условны. При желании совместно с нашими архитекторами Вы можете разработать собственное планировочное решение.
        .catalog__content
          h2.catalog__title
            span Каталог&nbsp;
            |популярных проектов
          ul.catalog__list
            +catalogItem('catalog-1.jpg', 'Мега-гипер-ультра длинное название проекта', '#', '50 м')
            +catalogItem('catalog-1.jpg', 'Слобода-1', '#', '50 м')
            +catalogItem('catalog-1.jpg', 'Слобода-1', '#', '50 м')
            +catalogItem('catalog-1.jpg', 'Слобода-1', '#', '50 м')
            +catalogItem('catalog-1.jpg', 'Слобода-1', '#', '50 м')
            +catalogItem('catalog-1.jpg', 'Слобода-1', '#', '50 м')
          +linkButton('#', 'В каталог проектов')

      //Features
      section.features(style="background-image:url(images/index/features/bg.jpg);")
        .container
          .features__inner
            .features__top
              h2.features__title
                |Ключевым преимуществом наши клиенты считают&nbsp;
                span одно из лучших качеств продукции
              +mediaButton
            ul.features__list
              +featuresItem(['Собственное производство, ', 'высочайшее качество'], 'feature-1')
              +featuresItem(['Разнообразие готовых проектов ', 'или разработаем индивидуальный'], 'feature-2')
              +featuresItem(['Гибкая ценовая политика ', 'и чёткое соблюдение сроков'], 'feature-3')
              +featuresItem(['Полный контроль ', 'строительство дома'], 'feature-4')
