extends common/layout

include includes/index/mixins
include common/header

block header
  +header(null)

block content
  .page.page--paddingless
    main
      //Intro
      section.intro
        #swiper-intro.swiper-container
          .swiper-wrapper
            +introSlide('slide-1', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
            +introSlide('slide-1', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'])
          .intro__controllers
            p.intro__slides
              span#swiper-intro-current.intro__slides-current
              span.intro__slides-decorator /
              span#swiper-intro-total.intro__slides-total
            .swiper-pagination
            .swiper-button-next Вперёд
            img.intro__decorator.lozad(data-src="images/index/intro/arrows-group.png", width="733", height="340",  alt="")

      //Company
      section.company
        .container
          .company__inner
            .company__images
              img.company__img.lozad(data-src="images/index/company/house.jpg" width="450" height="690" alt="Дом из древесины")
              .company__years.lozad(data-background-image=`images/index/company/texture-1.png`)
                p.company__years-txt
                  span 25
                  |лет на рынке
              .company__img-decorator.lozad(data-background-image=`images/index/company/texture-2.png`)
            .company__content
              h2.company__title Компания Gusarev House
              h3.company__subtitle
                |С 1995 года&nbsp;
                span строим&nbsp;
                |теплые и долговечные деревянные дома
              p.company__descrip Новейшие технологии позволяют нам конкурировать с любыми мировыми производителями
              p.company__txt Gusarev House — ведущая деревообрабатывающая и строительная компания. Компания Gusarev House более 25 лет занимается производством древесины, проектирует и строит деревянные дома из клееного бруса и массива, используя новейшие технологии обработки древесины.
              +linkButton('#', 'Подробнее о компании')

      //Fee
      section.fee
        ul.fee__list
          +feeItem('fee-1', ['Производство и строительство домов', 'из бруса под ключ'], '#')
          +feeItem('fee-2', ['Архитектурное проектирование', 'любого размера'], '#')

      //Catalog
      section.catalog
        .catalog__wrapper.container
          +formCatalog
          .catalog__content
            h2.catalog__title
              span Каталог&nbsp;
              |популярных проектов
            ul.catalog__list
              +catalogItem('catalog-1', 'Мега-гипер-ультра длинное название проекта', '#', '50 м')
              +catalogItem('catalog-1', 'Слобода-1', '#', '50 м')
              +catalogItem('catalog-1', 'Слобода-1', '#', '50 м')
              +catalogItem('catalog-1', 'Слобода-1', '#', '50 м')
              +catalogItem('catalog-1', 'Слобода-1', '#', '50 м')
              +catalogItem('catalog-1', 'Слобода-1', '#', '50 м')
        +linkButton('#', 'В каталог проектов')

      //Projects
      section.projects
        h2.projects__title
          |Посмотрите, какие&nbsp;
          span проекты мы реализовали
        ul.projects__list
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1 очень длfffffffffffffffffffffffffffffинный', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фааааааааааааааааааааахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
          +projectsItem('project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', '#', '2 этажа', '150 м2')
        +linkButton('#', 'Смотреть все дома')

      //Instagram
      section.insta
        .container
          .insta__content.lozad(data-background-image="images/index/insta/bg.jpg")
            .insta__inner
              .insta__info
                h2.insta__title Больше выполненых работ у нас в Инстаграмме
                a.insta__link(href="#") @gusarev_house
              ul.insta__list
                li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")
                li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")
                li.insta__item: img.insta__photo.lozad(data-src="images/index/insta/house-1.jpg", width="208" height="130" alt="")

      //Produce
      section.produce
        h2.produce__title.container
          |Также производим и поставляем&nbsp;
          span древесные материалы
        ul.produce__list
          +produceItem('produce-1', 'Клееный брус очень длинныыыыыыыыыыыыыыыыыыыыыыыыыый', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность;' ], '#')
          +produceItem('produce-1', 'Клееный брус', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность;' ], '#')
          +produceItem('produce-2', 'Массив', ['Массивом дерева считается материал, который полностью состоит из натурального дерева. Изделия из цельного дерева считаются элитными, так как данный материал обладает высоким качеством и экологичностью. Массивом дерева считается материал, который полностью состоит из натурального дерева.' ], '#')
          +produceItem('produce-1', 'Клееный брус', ['Основные преимущества клееного бруса:', '- не меняет своей формы во время эксплуатации;', '- имеет большую по сравнению с обычной древесиной прочность;', '- имеет меньшую теплопроводность;' ], '#')

      //Features
      section.features.lozad(data-background-image="images/index/features/bg.jpg")
        .container
          .features__inner
            .features__top
              h2.features__title
                |Ключевым преимуществом наши клиенты считают&nbsp;
                span одно из лучших качеств продукции
              +mediaButton
            ul.features__list
              +featuresItem(['Собственное производство, ', 'высочайшее качество'], 'feature-1')
              +featuresItem(['Разнообразие готовых проектов ', 'или разработаем индивидуальный'], 'feature-2')
              +featuresItem(['Гибкая ценовая политика ', 'и чёткое соблюдение сроков'], 'feature-3')
              +featuresItem(['Полный контроль ', 'строительство дома'], 'feature-4')

      //Youtube
      section.youtube
        .container
          .youtube__inner
            .youtube__info
              h3.youtube__suptitle И не только!
              h2.youtube__title
                |Делимся экспертностью в области строительства&nbsp;
                span на нашем Youtube канале
              a.youtube__link(href="https://www.youtube.com/channel/UCUdIa66ASkvG7fYzFUC6DWA" target="_blank" rel="noopener")
                p Смотреть Youtube канал
                +icon('youtube__link-icon', 'arrow-right')
            ul.youtube__videos
              li.youtube__item.lozad(data-background-image="images/index/youtube/youtube-1.jpg")
                +mediaButton
              li.youtube__item.lozad(data-background-image="images/index/youtube/youtube-1.jpg")
                +mediaButton

      //Form callback
      +formCallback(['Перезвоним и проконсультируем ', 'по любым вопросам, заполните форму'], 'Это бесплатно!', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00')

      //We build
      +sectionWebuild
