extends common/layout

include includes/index/mixins

block content
  .page.page--paddingless
    main
      section.intro
        #swiper-intro.swiper-container
          .swiper-wrapper
            +introSlide
            +introSlide
          .intro__controllers
            .swiper-pagination
            .swiper-button-next Вперёд
            img.intro__decorator(src="images/index/intro/arrows-group.png", alt="")
