extends common/layout

block title
  title Новости - Когда и как отделывать дом из бруса

block content
  .page
    main
      //Crumbs
      +crumbs([
        {href: 'news.html', name: 'Новости'},
        {href: 'news-product.html', name: 'Когда и как отделывать дом из бруса'}
      ])

      //News
      section.news-product.container
        h2.news-product__title Когда и как отделывать дом из бруса
        img.news-product__img.lozad(data-src="images/news/news-1.jpg", alt="")
        .news-product__txt
          p Древесина является природным материалом, поэтому при использовании дерева для строительства дома приходится учитывать его естественные свойства. К ним относится гигроскопичность. Это способность древесины отдавать влагу окружающей среде и поглощать её из влажного воздуха.
          p Процесс потери гигроскопической влаги (вода, находящаяся в стенках клеток) древесиной приводит к уменьшению линейных размеров деревянных элементов. Поэтому дом, построенный из бруса воздушно-сухого состояния (20% влажности), даёт усадку.
          p Размер её влияет на качество отделочных работ в течение первых 6 – 12 месяцев и составляет до 1/20 первоначальной высоты стены. Всего усадочный процесс может длиться до 2 - 3-х лет, но его величина уже достаточно мала, чтобы существенно менять линейные размеры деталей дома.
          p Для получения более качественной наружной или внутренней отделки рациональнее подождать 6-12 месяцев после установки сруба, когда наиболее активный период осадки дома пройдёт.
          p Существует ряд конструктивных мероприятий, предотвращающих негативные последствия деформаций деревянных элементов во время осадки.
          h3.news-product__txt-title Технология устройства окон и дверей в домах из бруса
          p Чтобы не уменьшать прочность всей конструкции дома во время его установки, наши предки намечали место проёма вырубкой только одного венца. В целях экономии древесины при строительстве современных домов из бруса проёмы для дверей и окон иногда оставляются при сборке. При этом их размер, как правило, меньше, чем предусмотрено в проекте. Чтобы обеспечить равномерную осадку дома, посередине проёма устанавливается глухой венец или балки-перетяжки, которые впоследствии спиливаются.
          p Древесина является природным материалом, поэтому при использовании дерева для строительства дома приходится учитывать его естественные свойства. К ним относится гигроскопичность. Это способность древесины отдавать влагу окружающей среде и поглощать её из влажного воздуха.
          p Процесс потери гигроскопической влаги (вода, находящаяся в стенках клеток) древесиной приводит к уменьшению линейных размеров деревянных элементов. Поэтому дом, построенный из бруса воздушно-сухого состояния (20% влажности), даёт усадку.
          p Размер её влияет на качество отделочных работ в течение первых 6 – 12 месяцев и составляет до 1/20 первоначальной высоты стены. Всего усадочный процесс может длиться до 2 - 3-х лет, но его величина уже достаточно мала, чтобы существенно менять линейные размеры деталей дома.
          p Для получения более качественной наружной или внутренней отделки рациональнее подождать 6-12 месяцев после установки сруба, когда наиболее активный период осадки дома пройдёт.
          p Существует ряд конструктивных мероприятий, предотвращающих негативные последствия деформаций деревянных элементов во время осадки.
          h3.news-product__txt-title Технология устройства окон и дверей в домах из бруса
          p Чтобы не уменьшать прочность всей конструкции дома во время его установки, наши предки намечали место проёма вырубкой только одного венца. В целях экономии древесины при строительстве современных домов из бруса проёмы для дверей и окон иногда оставляются при сборке. При этом их размер, как правило, меньше, чем предусмотрено в проекте. Чтобы обеспечить равномерную осадку дома, посередине проёма устанавливается глухой венец или балки-перетяжки, которые впоследствии спиливаются.
        +linkButton('news.html', 'Вернуться назад', 'button--reverse')
