extends common/layout

block title
  title Портфолио

block content
  .page
    main
      //Crumbs
      +crumbs([{href: 'projects.html', name: 'Портфолио'}])

      //Projects
      section.projects.projects--page
        .container
          h2.projects__title
            |За 25 лет успешно&nbsp;
            span построили более 1000 домов&nbsp;
            |и это только часть из них
          nav.filter
            ul#filter
              li.filter__button По нашим проектам
              li.filter__button По индивидуальным проектам
        ul.projects__list
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1 очень длfffffffffffffffffffffffffffffинный', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фааааааааааааааааааааахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')
          +projectsItem('/sloboda/project-1', 'Березинский район, д.Слобода', ['Участок 19 соток.','Асфальтированный подъезд.', 'Находится в водоохранной зоне реки Малиновка.', 'Фундамент-монолитная плита.', 'Дом выполнен по фахверковой технологии из массива сосны.', 'Безрамное остекление.', 'Энергоэффективные стеклопакеты толщиной 56мм.', 'Двухскатная кровля, металлочерепица, утепление кровли 20см.', 'Стены выполнены по каркасной технологии.', 'Фасад выполнен из ЦСП плиты. Отделка фасада гибкой камешковой штукатуркой.', 'Дерево выкрашено плотно укрывистой краской tikkurila.'], 'Фахверк-1', 'projects-product.html', '2 этажа', '150 м2')

      //Form callback
      +formCallback(['Перезвоним и проконсультируем', 'по любым вопросам, заполните форму'], 'Это бесплатно!', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00')

      //We build
      +sectionWebuild
