extends common/layout

include includes/sale/mixins

block title
  title Продаём

block content
  .page
    main
      //Crumbs
      +crumbs([{href: 'sale.html', name: 'Продаём'}])

      //Sale
      section.sale
        .container
          h2.sale__title
            |Продажа земельных участков&nbsp;
            span и готовых домов
          nav.filter
            ul#filter
              li
                button.filter__button Все
              li
                button.filter__button Земельные участки
              li
                button.filter__button Готовые дома
          ul.sale__list
            +saleItem('sloboda', 'Земельный участок', 'Участок под строительство дома под строительство дома под строительство дома', 'Березинский р-н, д.Слобода', '15 990 рублей', 'sale-product-land.html')
            +saleItem('sloboda', 'Готовый дом', 'Дом из клееного бруса', 'Березинский р-н, д.Слобода', '183 190 рублей', 'sale-product-house.html', '50м')
            +saleItem('sloboda', 'Земельный участок', 'Участок под строительство дома', 'Березинский р-н, д.Слобода', '15 990 рублей', 'sale-product-land.html')
            +saleItem('sloboda', 'Земельный участок', 'Участок под строительство дома', 'Березинский р-н, д.Слобода', '15 990 рублей', 'sale-product-land.html')
            +saleItem('sloboda', 'Готовый дом', 'Дом из клееного бруса', 'Березинский р-н, д.Слобода', '183 190 рублей', 'sale-product-house.html', '50м')
            +saleItem('sloboda', 'Земельный участок', 'Участок под строительство дома', 'Березинский р-н, д.Слобода', '15 990 рублей', 'sale-product-land.html')

      //Form callback
      +formCallback(['Хотите купить дом или участок?', 'Заполните форму и мы вам перезвоним.'], 'Это бесплатно!', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00')
