extends common/layout

block title
  title Продаём - Дом из клееного бруса

block content
  .page
    main
      //Crumbs
      +crumbs([
        {href: 'sale.html', name: 'Продаём'},
        {href: 'sale-product-house.html', name: 'Дом из клееного бруса'}
      ])

      //Product
      .product
        .container
          h2.product-name Дом из клееного бруса
          .product__inner
            +productSlider(['slide-1.jpg', 'slide-2.jpg', 'slide-1.jpg', 'slide-2.jpg'])
            .product__details
              ul.product__list
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Жилая / общая площадь:
                    p.product__list-item-txt 100 / 90 м2
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Количество этажей:
                    p.product__list-item-txt 2 этажа
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Материал стен:
                    p.product__list-item-txt Брус
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Материал кровли:
                    p.product__list-item-txt Металл
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Количество комнат:
                    p.product__list-item-txt 8 комнат
                li.product__list-item
                  +icon('product__list-icon', 'circle')
                  .product__list-item-wrapper
                    p.product__list-item-title Местоположение дома:
                    p.product__list-item-txt Березинский р-н, д.Слобода
              +formCallbackMini(['Укажите свой телефон ', 'и мы с вами свяжемся!'], 'Хотите купить дом?')

      //Product about
      +productAbout('Обширное панорамное остекление банного комплекса "Слобода-1" предъявляет требование считаться с окружающим пейзажем и к интерьеру.')

      //Product plan
      +productPlan(['plan-1.png', 'plan-1.png'])

      +formCallback(['Хотите купить дом или участок?', 'Заполните форму и мы вам перезвоним.'], 'Это бесплатно!', 'После заполнения формы мы свяжемся с Вами в рабочее время Пн-Пт 9:00-17:00')
