extends common/layout

include common/header

block title
  title Услуги производства

block header
  +header(null)

block content
  .page.page--paddingless
    main
      //Intro
      section.intro
        +introSlide('slide-1', 'Проектирование домов под ключ', ['Типовое и индивидуальное ', 'проектирование частных домов и коттеджей'], 'С полным сопровождением', ['Качественно', 'Долговечно', 'Доступно'])
        img.intro__decorator.lozad(data-src="images/intro/arrows-group.png", width="733", height="340",  alt="")
