extends common/layout

include common/header

block title
  title Услуги производства

block header
  +header('absolute', false)

block content
  .page.page--paddingless
    main
      //Intro
      section.intro
        +introSlide('slide-1', 'Строительство домов под ключ в Минской области и Минском районе', ['Строим надёжные дома', 'из клееного бруса и массива сроком эксплуатации до 100 лет'], 'По индивидуальному или готовому проекту', ['Качественно', 'Долговечно', 'Доступно'], 'intro__subtitle--wide', false)
