.webuild {
  padding-bottom: $padding-bottom-section;
}

.webuild__title {
  font-weight: 700;
  font-size: 3rem;
  color: $color-primary-gamma;

  margin-bottom: 3rem;
}

.webuild__details {
  position: relative;

  &[open] {
    .webuild__summary {
      position: absolute;
      bottom: -50px;

      &-icon {
        transform: rotate(-90deg);
      }

      &::after {
        display: none;
      }
    }

    .webuild__txt {
      animation: slide 0.3s ease-in-out;
    }
  }
}

.webuild__summary {
  position: relative;

  z-index: 1;

  width: 100%;

  color: $color-primary-alpha;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 2rem;

  &-icon {
    width: 22px;
    height: 22px;
    fill: $color-primary-alpha;

    vertical-align: top;
  }

  span {
    margin-right: 10px;
  }

  &::after {
    position: absolute;

    z-index: -1;

    content: '';

    pointer-events: none;

    top: -145px;
    right: 50%;
    transform: translateX(50%);

    width: 100vw;
    height: 150px;

    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      #ffffff 94.27%
    );
  }
}

.webuild__txt {
  p {
    color: $color-primary-psi;
    font-size: 2rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translate(0, -10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
