@mixin section-title($textAlign: left) {
  font-size: 3.6rem;
  font-weight: 300;
  color: $color-primary-gamma;
  text-align: $textAlign;

  margin-bottom: 5rem;

  span {
    font-weight: 700;
  }

  @include media-tablet-lg {
    font-size: 28px;

    margin-bottom: 35px;
  }
}
