.company {
  padding-bottom: $padding-bottom-section;

  @include media-tablet-lg {
    padding-bottom: 50px;
  }

  &--reverse {
    .company__inner {
      position: relative;

      flex-direction: row-reverse;
      align-items: flex-end;

      @include media-tablet-lg {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .company__content {
      @include media-desktop {
        max-width: 64rem;
      }

      @include media-tablet-lg {
        max-width: unset;

        &:not(:first-child) {
          padding-top: 87px;
        }
      }
    }

    .company__images {
      margin-right: 0;
      margin-left: 27rem;

      @include media-tablet-lg {
        margin-left: 0;
        align-self: center;
      }
    }

    .company__img-decorator {
      right: 100%;
      left: unset;
    }

    .company__years {
      left: -25%;
      right: unset;

      @include media-tablet-lg {
        left: 25%;
        top: unset;
        bottom: -27%;
      }
    }

    .company__txt {
      margin-bottom: 0;

      p {
        font-size: 2rem;
      }
    }
  }
}

.company__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media-tablet-sm {
    flex-direction: column;
    align-items: flex-start;
  }
}

.company__images {
  position: relative;

  max-width: 45rem;

  margin-right: 27rem;

  @include media-tablet-lg {
    margin-right: 10rem;
  }

  @include media-tablet-sm {
    align-self: center;

    margin-right: 0;
  }
}

.company__info {
  display: flex;
  align-items: center;

  @include media-smartphone-lg {
    flex-direction: column;
  }
}

.company__numbers {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-left: 3.1rem;

  @include media-smartphone-lg {
    flex-direction: row;
    justify-content: center;

    text-align: center;

    padding-top: 20px;
    margin-left: 0;

    width: 100%;
  }

  &-item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    @include media-smartphone-lg {
      width: 48%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    @include media-smartphone-sm {
      width: 100%;
    }

    &-value {
      color: #a1ba45;
      font-weight: 700;
      font-size: 4.6rem;
    }

    &-txt {
      font-size: 1.8rem;
      color: $color-primary-psi;
    }
  }
}

.company__img {
  border-radius: 10px;

  max-width: 45rem;

  object-fit: cover;

  @include media-laptop {
    max-width: 36rem;
  }

  @include media-smartphone-sm {
    width: 100%;
  }
}

.company__img-decorator {
  position: absolute;

  height: fit-content;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  top: 10rem;
  left: 100%;

  max-width: 22rem;
  max-height: 22rem;
  width: 100%;
  height: 100%;

  @include media-tablet-lg {
    display: none;
  }
}

.company__years {
  position: absolute;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 2.6rem;

  top: 50%;
  right: -25%;

  transform: translate(-10%, -50%);

  width: 21rem;
  height: 21rem;

  font-size: 1.8rem;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  span {
    display: block;
    font-weight: 500;
    font-size: 9.8rem;
  }

  @include media-tablet-lg {
    span {
      font-size: 72px;
    }
  }

  @include media-tablet-sm {
    right: 15%;
    top: unset;
    bottom: -27%;
  }
}

.company__content {
  max-width: 69rem;

  &:first-child {
    padding-right: 5rem;
  }

  @include media-tablet-sm {
    &:first-child {
      margin-bottom: 40px;
    }
  }

  @include media-tablet-sm {
    &:not(:first-child) {
      padding-top: 87px;
    }
  }

  .button {
    min-width: 288px;
  }
}

.company__title {
  font-size: 4rem;
  color: $color-primary-gamma;
  font-weight: 300;

  margin-bottom: 3.6rem;

  span {
    font-weight: 700;
  }

  &.inline-flex {
    span {
      display: inline-flex;
    }
  }
}

.company__suptitle {
  color: $color-primary-psi;
  font-size: 2rem;

  margin-bottom: 3.3rem;
}

.company__descrip {
  font-size: 2.2rem;
  font-weight: 300;
  color: $color-primary-gamma;

  margin-bottom: 4.1rem;
}

.company__txt {
  margin-bottom: 5.3rem;

  p {
    font-size: 1.8rem;
    color: $color-primary-psi;
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
