.company {
  padding-bottom: $padding-bottom-section;

  &--reverse {
    .company__inner {
      flex-direction: row-reverse;
      align-items: flex-end;
    }

    .company__images {
      margin-right: 0;
    }

    .company__img-decorator {
      right: 100%;
      left: unset;
    }

    .company__years {
      left: -25%;
      right: unset;
    }

    .company__txt {
      margin-bottom: 0;

      p {
        font-size: 2rem;
      }
    }
  }
}

.company__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company__images {
  position: relative;

  max-width: 45rem;

  margin-right: 27rem;
}

.company__info {
  display: flex;
  align-items: center;
}

.company__numbers {
  display: flex;
  flex-direction: column;

  margin-left: 3.1rem;

  &-item {
    &:not(:last-child) {
      margin-bottom: 5rem;
    }

    &-value {
      color: #a1ba45;
      font-weight: 700;
      font-size: 4.6rem;
    }

    &-txt {
      font-size: 1.8rem;
      color: $color-primary-psi;
    }
  }
}

.company__img {
  border-radius: 10px;

  max-width: 45rem;
  object-fit: cover;
}

.company__img-decorator {
  position: absolute;

  height: fit-content;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  top: 10rem;
  left: 100%;

  max-width: 22rem;
  max-height: 22rem;
  width: 100%;
  height: 100%;
}

.company__years {
  position: absolute;

  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem 2.6rem;

  top: 50%;
  right: -25%;

  transform: translate(-10%, -50%);

  width: 21rem;
  height: 21rem;

  font-size: 1.8rem;
  text-align: center;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  span {
    display: block;
    font-weight: 500;
    font-size: 9.8rem;
  }
}

.company__content {
  max-width: 69rem;

  &:first-child {
    padding-right: 5rem;
  }
}

.company__title {
  font-size: 4rem;
  color: $color-primary-gamma;
  font-weight: 300;

  margin-bottom: 3.6rem;

  span {
    font-weight: 700;
  }
}

.company__suptitle {
  color: $color-primary-psi;
  font-size: 2rem;

  margin-bottom: 3.3rem;
}

.company__descrip {
  font-size: 2.2rem;
  font-weight: 300;
  color: $color-primary-gamma;

  margin-bottom: 4.1rem;
}

.company__txt {
  margin-bottom: 5.3rem;

  p {
    font-size: 1.8rem;
    color: $color-primary-psi;
    line-height: 1.4;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}
