.filter {
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  margin-bottom: 1rem;

  li {
    margin-bottom: 2rem;

    cursor: pointer;
    user-select: none;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__button {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: $color-primary-psi;

    padding: 2.1rem 4rem;

    background-color: $color-primary-beta;

    border: 1px solid lighten($color-secondary-beta, 20);
    border-radius: 5px;

    transition: color 0.07s linear, background-color 0.07s linear;

    &:hover,
    &:focus-within {
      background-color: $color-primary-alpha;
      color: $color-primary-beta;
      border-color: $color-primary-alpha;
    }

    &.active {
      background-color: $color-primary-alpha;
      color: $color-primary-beta;
      border-color: $color-primary-alpha;
    }

    @include media-desktop {
      padding: 2.1rem 3rem;
    }
  }
}
