.footer {
  background-color: $color-secondary-gamma;
}

.footer__top {
  padding: 5rem 0 4.5rem;

  border-bottom: 1px solid $color-secondary-psi;

  @include media-tablet-sm {
    padding-bottom: 1.5rem;
  }

  &-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .logo {
    flex-direction: column;
    align-items: flex-start;

    @include media-laptop {
    }

    &__icon {
      margin-bottom: 2rem;
    }

    &__title {
      color: $color-primary-psi;

      max-width: 24rem;

      @include media-laptop {
        max-width: 30rem;
      }
    }
  }

  .phones,
  .mail {
    @include media-laptop {
      transform: translateX(0);

      .icon {
        margin-right: 1.5rem;
      }
    }
  }

  .worktime {
    justify-content: flex-start;

    margin-bottom: 17px;

    color: $color-secondary-omega;

    @include media-laptop {
      margin-left: 50px;
    }
  }

  .footer__button {
    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.footer__menu {
  margin-right: 2rem;

  @include media-desktop {
    margin-right: 4rem;
  }

  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    &:not(:last-child) {
      margin-bottom: 17px;
    }
  }

  a {
    font-size: 16px;
    color: $color-primary-gamma;
    text-transform: uppercase;

    @include hover;
  }
}

.footer__bot {
  padding: 3.3rem 0;

  &-inner {
    display: flex;
    justify-content: space-between;

    @include media-tablet-lg {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    @include media-smartphone-sm {
      align-items: flex-start;
    }
  }

  .footer__button {
    margin-bottom: 7px;
    font-size: 16px;
    align-self: flex-end;
    width: fit-content;

    @include media-tablet-lg {
      align-self: center;
    }

    @include media-smartphone-sm {
      align-self: flex-start;
    }
  }

  .footer__item {
    @include media-tablet-sm {
      align-items: center;
    }

    @include media-smartphone-sm {
      align-items: flex-start;
      text-align: left;
    }
  }
}

.footer__item {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 4rem;
  }

  @include media-laptop {
    width: 47%;
  }

  @include media-smartphone-lg {
    width: 100%;
  }

  p {
    font-size: 16px;
    color: $color-primary-psi;

    span {
      display: block;
    }
  }

  .footer__disclaimer {
    text-align: center;

    max-width: 48.3rem;

    @include media-smartphone-sm {
      text-align: left;
    }
  }
}

.footer__social {
  p {
    margin-bottom: 20px;

    font-weight: 500;
    font-size: 18px;

    color: $color-primary-gamma;
  }
}

.footer__button {
  border-bottom: 1px solid $color-primary-alpha;
  color: $color-primary-alpha;
  line-height: 1.2;

  transition: color 0.1s linear;

  &:hover {
    color: $color-primary-gamma;
    border-color: $color-primary-gamma;
  }
}

.footer__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-size: 2rem;

  margin-bottom: 6.1rem;
}

.footer__createby {
  text-align: right;

  @include media-tablet-lg {
    text-align: center;
  }
}
