.header {
  display: flex;

  flex-direction: column;

  z-index: 8;

  top: 0;
  left: 0;

  width: 100%;

  &.absolute {
    position: absolute;
  }

  &--dark {
    background-color: $color-primary-gamma;

    .header__call {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .header__menu {
      padding: 2rem 0;

      @include media-tablet-lg {
        padding-bottom: 40px;
      }

      ul {
        justify-content: space-between;
      }
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;

  padding-bottom: 3rem;
  padding-top: 2.1rem;

  @include media-tablet-lg {
    flex-direction: column;
    align-items: center;

    padding: 2rem;
  }
}

.header__logo {
  @include media-tablet-lg {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }
}

.header__social {
  display: flex;
  align-items: center;

  margin-right: 10.1rem;

  &.active {
    display: flex;
  }

  &-txt {
    font-size: 14px;

    margin-right: 19px;
  }

  @include media-desktop {
    margin-right: 5rem;
  }

  @include media-laptop {
    flex-direction: column;
    align-items: flex-start;

    margin-right: 4rem;

    &-txt {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  @include media-tablet-lg {
    display: none;

    flex-direction: row;
    align-items: center;

    margin-right: 0;
    padding-bottom: 20px;

    &-txt {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }
}

.header__info {
  display: flex;
  align-items: center;

  @include media-tablet-lg {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.header__call {
  display: flex;

  padding: 1.6rem 2rem;
  margin-right: 3.3rem;

  font-size: 14px;
  color: $color-primary-beta;

  border-radius: 5px;
  background: rgba(39, 40, 39, 0.3);

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $color-primary-alpha;
  }

  &-icon {
    height: 18px;
    width: 18px;

    margin-right: 10px;

    fill: $color-primary-beta;
  }

  @include media-tablet-lg {
    display: none;
  }
}

.header__bot-wrapper {
  justify-content: center;

  @include media-tablet-lg {
    display: none;

    overflow: auto;
    height: calc(100vh - 166px);
  }

  &.active {
    display: flex;
  }
}

.header__bot {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__menu {
  padding: 2rem;

  border-radius: 5px;
  background-color: rgba(39, 40, 39, 0.3);

  ul {
    display: flex;
    justify-content: center;

    ul {
      position: absolute;

      top: -2rem;
      left: -2rem;

      display: none;
      flex-direction: column;

      padding-top: 7rem;

      min-width: 29.2rem;

      opacity: 0;

      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      animation: fadeIn 0.15s linear;

      li {
        background-color: $color-primary-beta;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          padding-top: 1rem;
        }

        &:last-of-type {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          padding-bottom: 1rem;
        }

        &:not(:last-child)::after {
          display: none;
        }
      }

      a {
        color: $color-primary-gamma;

        padding: 1rem 2rem;

        width: 100%;

        text-transform: none;
      }
    }
  }

  li {
    position: relative;

    display: flex;
    align-items: center;

    &:hover {
      & > ul {
        display: flex;

        opacity: 1;
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';

        display: inline-block;

        margin: 0 3.8rem;

        height: 20px;
        width: 1px;

        opacity: 0.1;
        background-color: $color-primary-beta;

        @include media-desktop {
          margin: 0 2.9rem;
        }

        @include media-laptop {
          margin: 0 2.9rem;
        }

        @include media-custom(1139px) {
          margin: 0 2rem;
        }

        @include media-custom(1026px) {
          margin: 0 1.5rem;
        }
      }
    }
  }

  a {
    font-size: 1.6rem;
    font-weight: 500;
    color: $color-primary-beta;
    text-transform: uppercase;

    @include hover;

    &[role='button'] {
      cursor: default;
    }
  }

  @include media-tablet-lg {
    ul:first-child {
      flex-direction: column;
      align-items: center;

      & > li {
        &:not(:last-child) {
          margin-bottom: 25px;

          &::after {
            display: none;
          }
        }

        & > ul {
          z-index: 1;

          left: 50%;
          top: -25px;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.header__group {
  .worktime {
    body.touch & {
      justify-content: center;
    }
  }
}

.header__phones {
  position: relative;
  z-index: 1;

  li {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    body:not(.touch) &:hover {
      & > ul {
        display: flex;
      }
    }

    a {
      font-weight: 500;
      font-size: 20px;
      color: $color-primary-beta;

      @include hover;
    }
  }

  ul {
    position: absolute;

    top: 2rem;
    left: -2rem;

    display: none;
    flex-direction: column;

    padding-top: 2rem;
    width: max-content;

    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
    animation: fadeIn 0.15s linear;

    &.active {
      display: flex;
    }

    li {
      background-color: $color-primary-beta;

      &:first-of-type {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        padding-top: 1rem;
      }

      &:last-of-type {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        padding-bottom: 1rem;
      }

      &:not(:last-child)::after {
        display: none;
      }
    }

    a {
      color: $color-primary-gamma;

      padding: 1rem 2rem;

      width: 100%;

      text-transform: none;
    }
  }

  &-icon {
    fill: $color-primary-beta;
    width: 32px;
    height: 32px;

    padding: 0 8px;

    cursor: pointer;

    margin-left: 5px;

    &.active {
      transform: rotate(180deg);
    }

    body:not(.touch) & {
      display: none;
    }
  }

  @include media-custom-mf($media-xl) {
    body:not(.touch) & ul {
      left: -3.5rem;
    }
  }

  @include media-tablet-lg {
    ul {
      top: 3rem;
      left: 50%;
      width: max-content;

      transform: translateX(-50%);
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
