.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 8;

  display: flex;
  flex-direction: column;

  &--dark {
    background-color: $color-primary-gamma;

    .header__call {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .header__menu {
      padding: 2rem 0;

      ul {
        justify-content: space-between;
      }
    }
  }
}

.header__top {
  display: flex;
  justify-content: space-between;

  padding-bottom: 3rem;
  padding-top: 2.1rem;
}

.header__social {
  display: flex;
  align-items: center;

  margin-right: 10.1rem;

  &-txt {
    font-size: 14px;

    margin-right: 19px;
  }
}

.header__info {
  display: flex;
  align-items: center;
}

.header__call {
  display: flex;

  padding: 1.6rem 2rem;
  margin-right: 3.3rem;

  font-size: 14px;
  color: $color-primary-beta;

  border-radius: 5px;
  background: rgba(39, 40, 39, 0.3);

  transition: background-color 0.1s linear;

  &:hover {
    background-color: $color-primary-alpha;
  }

  &-icon {
    height: 18px;
    width: 18px;

    margin-right: 10px;

    fill: $color-primary-beta;
  }
}

.header__phone {
  font-weight: 500;
  font-size: 2rem;
  color: $color-primary-beta;

  @include hover;
}

.header__menu {
  padding: 2rem;

  border-radius: 5px;
  background-color: rgba(39, 40, 39, 0.3);

  ul {
    display: flex;
    justify-content: center;

    ul {
      position: absolute;

      top: 0rem;
      left: -2rem;

      display: none;
      flex-direction: column;

      padding-top: 5rem;

      min-width: 29.2rem;

      opacity: 0;

      filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
      animation: fadeIn 0.15s linear;

      li {
        background-color: $color-primary-beta;

        &:first-of-type {
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

          padding-top: 1rem;
        }

        &:last-of-type {
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;

          padding-bottom: 1rem;
        }

        &:not(:last-child)::after {
          display: none;
        }
      }

      a {
        color: $color-primary-gamma;

        padding: 1rem 2rem;

        width: 100%;

        text-transform: none;
      }
    }
  }

  li {
    position: relative;

    display: flex;
    align-items: center;

    &:hover {
      & > ul {
        display: flex;

        opacity: 1;
      }
    }

    &:not(:last-child) {
      &::after {
        content: '';

        display: inline-block;

        margin: 0 3.8rem;

        height: 20px;
        width: 1px;

        opacity: 0.1;
        background-color: $color-primary-beta;

        @include media-desktop {
          margin: 0 2.9rem;
        }
      }
    }
  }

  a {
    font-size: 16px;
    font-weight: 500;
    color: $color-primary-beta;
    text-transform: uppercase;

    @include hover;

    &[role='button'] {
      cursor: default;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
