.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
  left: 0;
  width: 100%;
}

.swiper-pagination {
  &-bullet {
    height: 14px;
    width: 14px;

    background-color: $color-primary-beta;
  }
}

.swiper-lazy-preloader {
  border-color: $color-primary-alpha;

  border-top-color: transparent;

  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.7));
}
