.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 4.7rem;

  @include media-tablet-lg {
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    @include section-title(left);

    max-width: 66rem;

    margin-bottom: 0;
    margin-right: 3rem;

    @include media-tablet-lg {
      max-width: unset;
    }
  }

  &__txt {
    p {
      color: $color-primary-psi;
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }
}
